body {
    text-align: center;
}

a {
    color: black !important;
}

.flash {
    text-align: center;
    margin: auto;
    font-size: 22px;
}

#flash_display {
    background-color: antiquewhite;
    opacity: 0.8;
    height: 65vh;
    width: 1200px;
    padding: 10%;
    margin: 30px auto 0 auto;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.animate {
    color: transparent;
    transform: rotateY(360deg);
    transition: transform 0.2s;
}

#flash_face {
    font-size: 14px;
}

.flash_front {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(2,171,228,1) 70%, rgba(0,212,255,1) 100%);
}

.flash_back {
    color: white;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.hidden {
    display: none;
}

.SetPageTerm-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid black
}
